// Кнопки
//<BUTTONS для форм (a.btn+tab)>
// Снипет (HTML): btn
.button {
	font-family: "Lack", sans-serif;
	display: inline-flex;
	padding: 0px 0px;

	@media (any-hover: hover) {
		&:hover {}
	}

	&._fw {
		width: 100%;
	}
}

// Стандартный класс кнопки
.btn {
	// font-family: 'Tele2 TextSans Web SHORT';
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: center;
	white-space: nowrap;
	padding: 19px 42.5px;
	color: #fff;
	border-radius: 30px;
	border: 2px solid #fff;
	// &:hover {
	// 	color: #fff;
	// 	background-color: #221F20;
	// }

	&.fw {
		width: 100%;
	}
}


