@font-face {
	font-family: Standard CT Stencil;
	font-display: swap;
	src: url("../fonts/Standard CT Stencil.woff2") format("woff2"), url("../fonts/Standard CT Stencil.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Tele2 Display Serif;
	font-display: swap;
	src: url("../fonts/Tele2 Display Serif.woff2") format("woff2"), url("../fonts/Tele2 Display Serif.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Tele2;
	font-display: swap;
	src: url("../fonts/Tele2-TextSans-Web-SHORT.woff2") format("woff2"), url("../fonts/Tele2-TextSans-Web-SHORT.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Tele2DisplaySerif;
	font-display: swap;
	src: url("../fonts/Tele2DisplaySerif-Bold-short__W.woff2") format("woff2"), url("../fonts/Tele2DisplaySerif-Bold-short__W.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: tele2_displayserif;
	font-display: swap;
	src: url("../fonts/tele2_displayserif-regular.woff2") format("woff2"), url("../fonts/tele2_displayserif-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: tele2_textsans;
	font-display: swap;
	src: url("../fonts/tele2_textsans-bold.woff2") format("woff2"), url("../fonts/tele2_textsans-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
