//<Адаптив>===========================================================================================================================================
@media (max-width: 1440px) {
	.slider-bg__img {
		transform: translate(-100px, 100px);
	}
}

@media (max-width: 1330px) {
	.slider-bg__img {
		transform: translate(-50px, 100px);
	}
}

@media (max-width: 1280px) {
	.slider-bg__slide {
		height: 650px;
	}

	.slider-bg__title {
		font-size: 60px;
		margin-bottom: 30px;
	}

	.card-page .slider-bg__slide {
		height: 500px;
	}

	.slider-bg__img {
		transform: translate(0px, 0px);
	}
}

@media (max-width: 1200px) {
	.menu-list a {
		padding: 8px 10px 8px 10px;
	}

	.slider-bg__slide {
		height: 550px;
	}

	.gifts-slider-wrapper {
		margin: 0 -10px;
	}

	.swiper-button-gifts-next,
	.swiper-button-gifts-prev {
		display: none;
	}
}

@media (max-width: 1024px) {
	.menu-list a {
		padding: 3px 0px 3px 20px;
	}

	.slider-bg__slide {
		height: 450px;
	}

	.slider-bg__title {
		font-size: 43px;
		margin-bottom: 20px;
	}

	.slider-bg__link {
		margin-top: 30px;
	}

	.text-block__row {
		flex-wrap: wrap;
	}

	.text-block__row .text-block__button-text {
		margin-left: 0;
		margin-top: 15px;
	}

	.guide__image-block {
		margin: 0 -10px;
	}

	.image-guide__col {
		padding: 0 10px 20px 10px;
	}

	.image-guide__card {
		height: 250px;
	}

	.card-page .slider-bg__slide {
		height: 450px;
		padding: 0;
	}

	::-webkit-scrollbar {
		display: none;
	}

	.tabs__navigation {
		flex-wrap: nowrap;
		width: auto;
		overflow: auto;
		padding: 0 10px;
		margin: 0 -10px;
	}

	.slider-bg__img {
		width: auto;
		height: auto;
	}
	.menu-list a:hover {
		color: inherit;
		border-radius: none;
		background: none;
	}
}

@media (max-width: 860px) {

	.image-guide__col--big,
	.image-guide__col {
		flex: 0 1 50%;
	}
}

@media (max-width: 812px) {
	.mixx {
		overflow: hidden;
		position: relative;
	}

	.mixx__img {
		position: absolute;
		right: 0;
	}

	.text-block-inner {
		z-index: 5;
	}
}

@media (max-width: 768px) { 
	.header {
		position: fixed;
		width: 100%;
		padding: 10px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}

	.logo-icon {
		flex: 0 0 155px;
		height: 20px;
	}

	.logo-icon svg  {
		flex: 0 0 50px;
		height: 20px;
		margin-right: 3px;
	}

	.logo-icon:before {
		flex: 0 0 50px;
		height: 20px;
		margin-right: 3px;
	}

	.logo-icon p {
		font-size: 16px;
	}

	.header__logo {
		margin-right: 15px;
	}

	.icon-menu {
		display: flex;
	}

	.header__menu-block {
		margin-right: 15px;
	}
		.header__menu-list {
			position: absolute;
			top: 40px;
			left: 0;
			width: 100%;
			padding: 20px 0;
			background: #FFAF0F;
			flex-direction: column;
			z-index: -1;
			box-shadow: 0px 10px 22px -25px #000000 inset;
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.3s, visibility 0.3s;
	}
	.header__menu-list._active {
		visibility: visible;
		opacity: 1;
	}

	.section {
		padding: 20px 0 !important;
	}

	.title {
		font-size: 26px;
		margin-bottom: 15px !important;
	}

	.subtitle {
		font-size: 16px;
	}

	.footer__row {
		flex-wrap: wrap;
	}

	.footer__policy {
		flex: 0 1 100%;
		margin-right: 0px;
		margin-bottom: 15px;
	}

	.slider-bg__slide {
		height: 350px;
	}

	.slider-bg__title {
		font-size: 33px;
		margin-bottom: 10px;
	}

	.slider-bg__link {
		padding: 10px 55px;
		margin-top: 20px;
	}

	.slider-bg__subtitle {
		font-size: 18px;
	}

	.slider-bg__descp {
		max-width: 100%;
	}

	.mixx {
		padding: 50px 0 !important;
	}

	.mixx__img {
		display: none;
	}

	.image-guide__col {
		padding: 0 5px 10px 5px;
	}

	.tabs__navigation {
		width: auto;
		overflow: auto;
	}

	.tabs__content {
		padding: 25px 0;
	}

	.switch-block {
		margin: 0 auto 25px auto;
	}

	.switch-btn__inner {
		padding: 10px 30px;
	}

	.card-page .slider-bg__slide {
		height: 300px;
	}

	.card-page__body {
		padding: 25px 10px 55px 10px;
	}

	.card-page__descp .subtitle p {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 10px;
	}

	.card-page__information {
		margin-bottom: 30px;
	}

	.gifts {
		min-height: auto;
	}

	.swiper-button-main-next,
	.swiper-button-main-prev {
		display: none;
	}

	.slider-bg-wrap .swiper-nuvigation {
		bottom: 6%;
	}
}

@media (max-width: 700px) {
	.coverage {
		.text-block-wrapper {
			flex-wrap: wrap;
		}

		.text-block-inner {
			margin-right: 0;
		}
	}

	.coverage__img {
		flex: 0 1 353px;
		height: auto;
		margin-top: 25px;
	}
}

@media (max-width: 630px) {
	.switch-block {
		width: 100%;
	}
}

@media (max-width: 612px) {
	.image-guide__card {
		height: 200px;
	}

	.image-guide__card-descp {
		padding: 15px 55px 15px 15px;
		font-size: 16px;
		line-height: 1.3;
	}

	.image-guide__card-sticker-title {
		font-size: 12px;
		font-weight: 700;
		line-height: 1.3;
	}

	.image-guide__card-sticker {
		padding: 5px 25px 5px 15px;
	}

	.information-card__row {
		flex-wrap: wrap;
		margin-bottom: 35px;
	}

	.information-card__btn {
		margin-top: 15px;
	}

	.information-card__name {
		flex: 0 1 100%;
		margin-right: 0;
	}
}

@media (max-width: 540px) {
	.switch-btn__inner {
		font-size: 12px;
		padding: 3px 15px;
		min-width: auto;
	}

	.card-page .slider-bg__slide {
		height: 250px;
	}
}

@media (max-width: 515px) {
	// .slider-bg__slide {
	// 	min-height: 250px;
	// 	padding: 150px 0 120px 0;
	// }

	.slider-bg__title {
		font-size: 26px;
	}

	.slider-bg__subtitle {
		font-size: 16px;
	}

	.slider-bg__link {
		margin-top: 30px;
	}

	.text-block-inner {
		margin-right: 0;
	}

	.text-block {
		max-width: 100%;
	}

	.image-guide__card {
		height: 150px;
	}

	.player__navigations-inner {
		padding: 14px 30px;
	}
}

@media (max-width: 480px) {
	.card-page .slider-bg__slide {
		height: 200px;
		min-height: auto;
	}
}

@media (max-width: 414px) {
	.btn {
		width: 100%;
	}

	.image-guide__col--big,
	.image-guide__col {
		flex: 0 1 100%;
	}

	.image-guide__card {
		height: 250px;
	}

	.information-card__btn {
		max-width: 100%;
		flex: 0 1 100%;
	}

	.information-card__name-icon {
		margin-right: 10px;
	}

	.slider-bg__slide {
		height: 300px;
	}

	.player__controls {
		font-size: 12px;
		margin-bottom: 10px;
	}

	.player__controls-audiogid {
		margin-right: 15px;
	}

	.player input[type=range] {
		width: 200px;
	}
}

@media (max-width: 375px) {
	.image-guide__card {
		height: 200px;
	}

	.player input[type=range] {
		width: 150px;
	}
}

@media (max-width: 345px) {
	.player input[type=range] {
		width: 120px;
	}
}