//<Адаптив>===========================================================================================================================================
@media (max-width: 1280px) {
.slider-bg__slide {
	height: 650px;
	}
	.slider-bg__title {
		font-size: 60px;
		margin-bottom: 30px;
	}
}
@media (max-width: 1200px) {
	.menu-list a {
    padding: 8px 10px 8px 10px;
	}
	.slider-bg__slide {
		height: 550px;
	}
}

@media (max-width: 1024px) {
	.menu-list a {
		padding: 3px 0px 3px 20px;
	}
	.slider-bg__slide {
		height: 450px;
	}
	.slider-bg__title {
		font-size: 43px;
		margin-bottom: 20px;
	}
	.slider-bg__link {
		margin-top: 30px;
	}
	.text-block__row {
		flex-wrap: wrap;
	}
	.text-block__row .text-block__button-text {
    margin-left: 0;
    margin-top: 15px;
	}
	.guide__image-block {
		margin: 0 -10px;
	}
	.image-guide__col {
		padding: 0 10px 20px 10px;
	}
	.image-guide__card {
    height: 250px;
	}
}

@media (max-width: 860px) {
.image-guide__col--big,
.image-guide__col {
	flex: 0 1 50%;
}
}
@media (max-width: 812px) {
	.mixx {
		overflow: hidden;
		position: relative;
	}
	.mixx__img {
    position: absolute;
    right: 0;
	}
	.text-block-inner {
    z-index: 5;
	}
}

@media (max-width: 768px) {
	.header {
		position: fixed;
		width: 100%;
		padding: 10px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}

	.logo-icon {
    flex: 0 0 155px;
    height: 20px;
	}

	.logo-icon:before {
    flex: 0 0 50px;
    height: 20px;
		margin-right: 3px;
	}

	.logo-icon p {
		font-size: 16px;
	}

	.header__logo {
		margin-right: 15px;
	}

	.icon-menu {
		display: flex;
	}

	.header__menu-block {
		margin-right: 15px;
	}

	.header__menu-list {
		display: none;
	}

	.section {
		padding: 20px 0 !important;
	}

	.title {
		font-size: 26px;
		margin-bottom: 15px !important;
	}
	.subtitle {
		font-size: 16px;
	}

	::-webkit-scrollbar {
		display: none;
	}
	.footer__row {
    flex-wrap: wrap;
	}
	.footer__policy {
		flex: 0 1 100%;
    margin-right: 0px;
		margin-bottom: 15px;
	}
	.slider-bg__slide {
		height: 350px;
	}
	.slider-bg__title {
		font-size: 33px;
		margin-bottom: 10px;
	}
	.slider-bg__link {
		padding: 10px 55px;
		margin-top: 20px;
	}
	.slider-bg__subtitle {
		font-size: 18px;
	}
	.slider-bg__descp {
		max-width: 100%;
	}
	.mixx {
		padding: 50px 0 !important;
	}
	.mixx__img {
		display: none;
	}
	.image-guide__col {
    padding: 0 5px 10px 5px;
	}
	.tabs__navigation {
    width: auto;
    overflow: auto;
	}
	.tabs__content {
    padding: 25px 0;
	}
}

@media (max-width: 700px) {
	.coverage {
		.text-block-wrapper {
		flex-wrap: wrap;
		}
		.text-block-inner {
			margin-right: 0;
		}
	}
	.coverage__img {
		flex: 0 1 353px;
		height: auto;
    margin-top: 25px;
	}
}

@media (max-width: 612px) {
	.image-guide__card {
    height: 200px;
	}
	.image-guide__card-descp {
    padding: 15px 55px 15px 15px;
    font-size: 16px;
    line-height: 1.3;
	}
	.image-guide__card-sticker-title {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3;
	}
	.image-guide__card-sticker {
    padding: 5px 25px 5px 15px;
	}
}

@media (max-width: 515px) {
	.slider-bg__slide {
		min-height: 250px;
		padding: 150px 0 120px 0;
	}
	.slider-bg__title {
		font-size: 26px;
	}
	.slider-bg__subtitle {
		font-size: 16px;
	}
	.slider-bg__link {
		margin-top: 30px;
	}
	.text-block-inner {
		margin-right: 0;
	}
	.text-block {
    max-width: 100%;
	}
	.image-guide__card {
    height: 150px;
	}
}

@media (max-width: 414px) {
	.btn {
		width: 100%;
	}
	.image-guide__col--big, .image-guide__col {
    flex: 0 1 100%;
	}
	.image-guide__card {
    height: 250px;
	}
}

@media (max-width: 375px) {
	.image-guide__card {
    height: 200px;
	}
}