@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
// Подключить если есть локальные файлы шрифтов
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;700&display=swap');
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Roboto";
$fontSize: rem(20); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #fff; // Цвет шрифта по умолчанию        

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1116;
// Общий отступ у контейнера 
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer+$containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	background: #1F2229;
	// Скролл заблокирован 
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// Сайт загружен
	.loaded & {}

	// Прижимаем footer
	>main {
		flex: 1 1 auto;
	}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}
.section {
	padding: 55px 0;
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {

	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
}

@else {

	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;

		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		}

		@else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}

		@media (max-width: $pc) {
			max-width: rem(970);
		}

		@media (max-width: $tablet) {
			max-width: rem(750);
		}

		@media (max-width: $mobile) {
			max-width: none;

			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
//========================================================================================================================================================

.slider-bg-wrap {
	position: relative;
}

.slider-bg {
	background: grey;

	&__container {
    flex-direction: column;
    position: relative;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
	}

	&__slide {
		position: relative;
		width: 100%;
		height: 805px;
		padding: 187px 0;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center !important;
		// filter: blur(3px);
	}

	&__title {
		// font-family: Standard CT Stencil;
		font-size: 70px;
		font-weight: 700;
		line-height: 84px;
		letter-spacing: -0.01em;
		color: #fff;
		margin-bottom: 60px;
	}
	&__subtitle {
		// font-family: Tele2 DisplaySerif;
		font-size: 24px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0em;
		color: #fff;
	}
}
.slider-bg__descp {
	max-width: 600px;
	width: 100%;
}
.slider-bg__img {
	position: absolute;
	top: 0;
	left: -160px;
	max-width: 708px;
	width: 100%;
	height: 520px;
	overflow: hidden;
}

.slider-bg__link {
	padding: 19px 55px;
	margin-top: 60px;
}

.swiper-button-block {
	display: flex;
	justify-content: space-between;
	width: 130px;
}

.slider-bg__swiper-button-block {
	display: block;
	position: absolute;
	right: 18%;
	bottom: 14%;
}

.slider-bg__swiper-button-block ._container {
	display: flex;
	justify-content: space-between;
}

.product-sl-paggination {
	position: absolute;
	left: 50%;
	bottom: 2%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
//========================================================================================================================================================
.about .text-block {
	max-width: 742px;
}
//========================================================================================================================================================

.guide__image-block {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -18px;
}
.image-guide__col {
	display: flex;
	flex: 0 1 33.2%;
	padding: 0 18px 36px 18px;
}
.image-guide {
}
.image-guide__card {
	flex: 0 1 100%;
	position: relative;
	height: 334px;
	border-radius: 8px;
	overflow: hidden;
	cursor: pointer;
}
.image-guide__col--big {
	flex: 0 1 66.67%;
}
.image-guide__col--average {
	flex: 0 1 50%;
}
.image-guide__card-sticker {
	position: absolute;
	top: 12px;
	right: 0;
	display: flex;
	align-items: center;
	padding: 9px 25px 9px 15px;
	background: #FFAF0F;
	border-radius: 35px 0 0 35px;
	svg {
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
	}
}
.image-guide__card-sticker-title {
	// font-family: Tele2 Display Serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0em;
}
.image-guide__card-img {
	width: 100%;
	height: 100%;
}
.image-guide__card-descp {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 5;
	padding: 25px 55px 25px 25px;
	// max-width: 445px;
	// font-family: Tele2 Display Serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0em;
	transition: all 0.3s ease 0s;
	&::after{
		content: "";
    position: absolute;
    background: #FFAF0F;
    opacity: .9;
    bottom: 0;
    left: -100%;
    height: 80%;
    width: 0;
    clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
    z-index: -1;
    transition: .6s cubic-bezier(0, 0.17, 0.32, 0.89) all;
	}
}
.image-guide__card:hover .image-guide__card-descp:after {
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}
//========================================================================================================================================================

.gifts {
	min-height: 772px;
	background: url('../img/bg-yellow.png') no-repeat bottom right;
	background-size: contain;
}

.gifts-slider {
	margin: 0 -18px;
}
.gifts-slider__col {
	display: flex;
	flex: 0 1 25%;
	padding: 0 18px;
}
.gifts-slider__card {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
	&:hover{
		.gifts-slider__card-img {
			filter: grayscale(0);
		}
	}
}
.gifts-slider__card-img {
	flex: 0 1 100%;
	min-height: 252px;
	max-height: 252px;
	overflow: hidden;
	filter: grayscale(1);
	transition: filter 0.3s ease 0s;
	// padding-bottom: 100%;
}
.gifts-slider__card-body {
	display: flex;
	flex-direction: column;
	padding: 24px;
	height: 100%;
	background-color: #fff;
}
.gifts-slider__card-title {
	// font-family: Tele2 Display Serif;
	flex: 1 1 auto;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	color: #1F2229;
	margin-bottom: 28px;
}
.gifts-slider__card-btn {
	// font-family: Tele2 TextSans Web SHORT;
	font-size: 14px;
	font-weight: 700;
	color: #1F2229;
	padding: 11px 23px;
	border: 2px solid #1F2229;
}

//========================================================================================================================================================
.mixx {
		background: #FFAF0F;
	.text-block__button-text {
		color: #1F2229;
	}
	.mixx__btn {
		color: #1F2229;
		border: 2px solid #1F2229;
	}
}
.mixx__title,
.mixx__subtitle {
	color: #1F2229;
}
.mixx__img {
	margin-bottom: -55px;
}
//========================================================================================================================================================
.connect {
}
.section {
}
.connect__container {
}
.connect__title {
	margin-bottom: 24px;
}
.connect__subtitle {
}
.connect__btn {
}
//========================================================================================================================================================

.guide__switch-block {
	margin-bottom: 36px;
}
.switch-block {
	display: flex;
	justify-content: space-between; 
	align-items: center;
	width: 570px;
	border: 2px solid #FFAF0F;
	padding: 6.5px 7px 6.5px 7px;
	border-radius: 40px;

}
.switch-btn {
	position: relative;
	cursor: pointer;
}
.switch-btn__inner {
	min-width: 250px;
	// font-family: Tele2 Display Serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	background: #1F2229;
	border: none;
	&:hover{
		background: #1F2229;
		border: none;
		color: #fff;
	}
}
.switch-btn__name {
}
.switch-btn input[type=radio]:checked+.switch-btn__inner {
	background: #FFAF0F;
	border: none;
}
.guide__btn-block {
	display: flex;
	justify-content: center;
}
.guide__btn {
}
.guide__tabs {
	display: none;
}
.guide__tabs.active {
	display: block;
}
//========================================================================================================================================================

.coverage__img {
	flex: 0 0 353px;
  height: 254px;
}
//========================================================================================================================================================


//========================================================================================================================================================

// АДАПТИВ ==========================================
@import "media";